.about-section {
  position: relative;
  padding: 5rem 2rem;
  background-color: #101111;
  color: white;
  text-align: center;
  overflow: hidden;
}

.about-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

.about-description {
  max-width: 800px;
  margin: 0 auto 3rem;
  line-height: 1.8;
  font-size: 1rem;
  color: #ccc;
  font-family: 'Courier New', monospace;
}

.highlight {
  color: #ff0002;
  font-weight: bold;
}

.edition-text {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #ccc;
  font-family: 'Orbitron', sans-serif;
}


@media (max-width: 768px) {
  .about-title {
    font-size: 2rem;
  }

  .about-description {
    font-size: 0.95rem;
    padding: 0 1rem;
  }
}
.circuit-svg-wrapper {
  margin-top: 2rem;
  overflow: hidden;
}

.circuit-svg {
  width: 100%;
  height: auto;
  display: block;
}
