@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nebula';
  src: url('/fonts/Nebula-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moonwalk Miss';
  src: url('/fonts/Moonwalk Miss.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CSClaireMonoDrawn';
  src: url('/fonts/CSClaireMonoDrawn-Regular_demo-BF6732d13ce4819.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #101111;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
